{% extends "base.html" %}

{% block content %}

<h1 style="color: dark;"><center><b>Analyze Report Text</b></center></h1>

<div>
    <center>
    <div class="gap" align="center"></div>
    <form id="report_form" method="post" enctype="multipart/form-data" role="form">
        <table>
            <tr>
                <td>
                    <label for="report_text" class="">
                        Paste the report text here:
                    </label>
                    <button type="button" class="btn btn-dark btn-sm"  id="btn-predict" name="btn-predict">Analyze!</button>
                    <button type="button" class="btn btn-dark btn-sm"  id="btn-predict-test" name="btn-predict-test">Test!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea  name="report_text" id="report_text" rows="6" cols="120"></textarea>
                </td>
            </tr>
            <tr>
            </br>
            </tr>
            <tr>
                <td>
                    <label for="report_text" class="">
                        Parsed report text:
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input__field" name="tagged_report_text" id="tagged_report_text" style="height: 200px; width: 1055px;">
                        <!--<textarea  name="tagged_report_text" id="tagged_report_text" rows="6" cols="120">


                        </textarea>-->
                    </div>
                </td>
            </tr>
        </table>

    </form>

    <div class="loader" style="display:none;"></div>

    </center>
</div>


<script src="{{ url_for('static',filename='js/sweetalert2.all.js') }}"></script>
	<script type="text/javascript">
        $(document).ready(function(){

            $('#btn-predict-test').click(function(){
                alert(1);
                text = "This is a <span class='highlight'> GFG</span> test  NER"
                $('#tagged_report_text').html(text);
            });

            $('#btn-predict').click(function(){
                <!--alert(1);-->
                $('.loader').show();
                $.ajax({
                    url: '/predict',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response){
                        <!--alert(response);-->
                        $('.loader').hide();
                        $('#tagged_report_text').fadeIn(600);
                        $('#tagged_report_text').html(response);
                        console.log(response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
        function alerting(){
            alert("test");
        }
    </script>
{% endblock %}
